
.bigPlate
{
	position:absolute;
	left:0%;
	top:0%;
	width:100%;
	height:100%;
}
@font-face
{
	font-family: dastnevis;
	src: url('../Font/dastnevis.ttf') format("truetype");
}
@font-face
{
	font-family:bmitra;
	src: url('../Font/bmitra.eot');
	src: url('../Font/bmitra.ttf') format("truetype"),
	url('../Font/bmitra.eot') format('embedded-opentype'),
	url('../Font/bmitra.woff') format('woff');
	
}
body
{
	background-color:#000000;
	margin:0px;
	padding:0px;
	position:fixed;
	width:100%;
	height:100%;
	left:0%;
	top:0%;
}
.nav
{
	z-index:100;
	cursor:pointer;
	opacity:1;
	position:fixed;
	display:none;
}
#navBottom
{
	height: 10%;
	width: 96%;
	left:2%;
	bottom:0%;
}
#navTop
{
        height: 10%;
        width: 96%;
        left:2%;
        top:0%;
}
#navLeft
{
        height: 92%;
        width: 5%;
        left:0%;
        top:4%;
}
#navRight
{
        height: 92%;
        width: 5%;
       	right: 0%;
        top:4%;
}
.sidePages
{
	position:absolute;
	width:100%;
	height:100%;
}
#homeP
{
        background-color:#161616;
	left:0%;
	top:0%;
	background-image:url('../images/pattern/1.png');
	background-repeat:repeat-xy;	
}
#sPageT
{
	background-color:#bd0026;
	top:-100%;
	left:0%;
        background-image:url('../images/pattern/2.png');
        background-repeat:repeat-xy;
}
#sPageB
{
        background-color:#229399;
        top:100%;
        left:0%;
        background-image:url('../images/pattern/1.png');
        background-repeat:repeat-xy;
}

#sPageL
{
        background-color:#495c65;
        top:0%;
        left:-100%;
        background-image:url('../images/pattern/4.png');
        background-repeat:repeat-xy;
}
#sPageR
{
        background-color:#447733;
        top:0%;
        left:100%;
        background-image:url('../images/pattern/4.gif');
        background-repeat:repeat-xy;
}
.line
{
	position:absolute;
	width:100%;
	height:1%;
	left:0%
	background: #000000;
	background: -moz-linear-gradient(left, #000000 0%, #b7b7b7 20%, #efefef 40%, #efefef 60%, #b7b7b7 80%, #000000 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(20%,#b7b7b7), 
		color-stop(40%,#efefef), color-stop(60%,#efefef), color-stop(80%,#b7b7b7), color-stop(100%,#000000));
	background: -webkit-linear-gradient(left, #000000 0%,#b7b7b7 20%,#efefef 40%,#efefef 60%,#b7b7b7 80%,#000000 100%);
	background: -o-linear-gradient(left, #000000 0%,#b7b7b7 20%,#efefef 40%,#efefef 60%,#b7b7b7 80%,#000000 100%);
	background: -ms-linear-gradient(left, #000000 0%,#b7b7b7 20%,#efefef 40%,#efefef 60%,#b7b7b7 80%,#000000 100%);
	background: linear-gradient(to right, #000000 0%,#b7b7b7 20%,#efefef 40%,#efefef 60%,#b7b7b7 80%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}
#navTopP
{
	position:absolute;
	height:100%;
	display:none;
}
#navBottomP
{
        position:absolute;
        height:100%;
        top:5%;
	display:none;
}
#navLeftP
{
        position:absolute;
        width:30%;
	min-width:20px;
        left:30%;
	display:none;
}
#navRightP
{
        position:absolute;
	min-width:20px;
        width:30%;
        right:30%;
	display:none;
}
.navText
{
	position:absolute;
	height:30%;
	font-family:dastnevis,Arial;
	color:#D9D9D9;
	font-size:28px;
	line-height:28px;
	width:100%;
}
#navBottomT
{
	bottom:-20%;
	left:0%;
}
#navTopT
{
	top:-25%;
	left:0%;
}
#navLeftT
{
	position:absolute;
	top:40%;
	vertical-align:middle;
	width:95%;
	height:10%;
	left:5%;
}
#navRightT
{
        position:absolute;
        top:40%;
        vertical-align:middle;
        width:95%;
        height:10%;
        right:5%;
}
#homeTextPlate
{
	position:absolute;
	width:48%;
	height:70%;
	left:37%;
	top:15%;
	background-color:#000000;

}
#profilePicture
{
	position:absolute;
	width:20%;
	height:70%;
	left:15%;
	top:15%;
	background-color:#000000;
}
#homeText
{
	position:absolute;
	font-family:dastnevis,Arial;
	font-size:80px;
	color:#D9D9D9;
	width:100%;
	height:100%;
	top:0%;
	left:0%;
}
#ppic
{
	position:absolute;
	height:96%;
	top:2%;
	left:7.5%;	
}
.shdw
{
        background-color:#000000;
        box-shadow: 0px 0px 15px 3px #000000;
        -webkit-box-shadow: 0px 0px 15px 3px #000000;
        -moz-box-shadow: 0px 0px 15px 3px #000000;

}
#aboutPlate
{
}